In [1]:
import pandas as pd
import openpyxl

from src.xlsx_handler import xlsx_init_column, xlsx_format_rows, xlsx_create_category_dv, xlsx_create_category_cf

In [2]:
xlsx_path = "data/purchases.xlsx"

## Loading data

In [3]:
df = pd.read_excel(xlsx_path)
df.tail(3)

,Item,Category,Cost,Date,Month,MonthNum,Year
1439,Reading Glasses Case,Health & Personal Care,9.36,2025-04-23,April,4,2025
1440,IronWolf Pro 8TB,Electronics & Accessories,347.99,2025-04-23,April,4,2025
1441,Gakumas Lilja CDs & Beyond the Boundary Radio CD,Music & Audio,78.30,2025-04-26,April,4,2025

In [4]:
cats = "\n".join(df["Category"].unique())
print(cats)

Electronics & Accessories
Food & Beverages
Movies & Media
Miscellaneous
Books & Literature
Gaming
Collectibles
Digital Subscriptions
Music & Audio
Health & Personal Care
Clothing & Apparel

## Formatting Cells

In [5]:
wb = openpyxl.load_workbook(xlsx_path)
ws = wb.worksheets[0]
ws.auto_filter.ref = "A1:G1"

In [6]:
# Set column defaults
xlsx_init_column(ws, "A", "Item", 15)
xlsx_init_column(ws, "B", "Category", 15)
xlsx_init_column(ws, "C", "Cost", 10)
xlsx_init_column(ws, "D", "Date", 12)
xlsx_init_column(ws, "E", "Month", 7)
xlsx_init_column(ws, "F", "MonthNum", 5)
xlsx_init_column(ws, "G", "Year", 10)

# Create category dropdown
xlsx_create_category_dv(ws, "B")

# Create conditional formatting for category
xlsx_create_category_cf(ws, "B")

# Format rows
xlsx_format_rows(ws)

100%|██████████| 1591/1591 [00:00<00:00, 3234.11it/s]

In [7]:
wb.save("temp2.xlsx")